/********************************************/

body {
    margin: 0;
    padding: 0;
}

.btn {
    font-weight: normal;
    transition: font-weight 0.2s;
}

.btn:hover,
.btn:active {
    font-weight: 600;
}

.btn-primary span {
    font-weight: 600 !important;
}

.a-logo {
    text-decoration: none;
    color: inherit;
}

.a-logo:hover,
.a-logo:visited {
    color: inherit;
}

.logo img {
    width: 15em;
}

.logo {
    width: 15em;
}

.btn-primary {
    background-color: var(--color-secundario) !important;
    border: none !important;
}

.btn-outline-primary {
    color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
    font-weight: 600 !important;
}

.btn-outline-primary:hover {
    background-color: var(--color-secundario) !important;
    color: #fff !important;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    position: relative;
    z-index: 5;
}

.btn-header {
    margin-left: 1rem;
    z-index: 10;

}

.container-btn {
    margin-left: auto;
}

/*******************************************************************/
/*menu hamburguesa*/
.avatar-button {
    color: #fff;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    border: none;

}

.dropdown-menu {
    width: 250px;
}

.dropdown-header {
    font-size: 0.9rem;
    color: gray;
}

.text-logout {
    color: var(--color-secundario) !important;
    font-weight: 600 !important;
}


.text-light {
    text-decoration: none;
}

.notificacion-punto {
    position: absolute;
    top: 30px;
    right: 5px;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
    }

    70% {
        box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}


@media (max-width: 767px) {
    .navbar {
        display: none;
    }
}