:root {
    --color-primario: #6b59cb;
    --color-secundario: #ff9040;
    --color-fondo: #f4f4f4;
    --color-texto: #333333;
}

body {
    /*background: linear-gradient(to bottom, var(--color-fondo), #19104e);*/
    background-color: var(--color-fondo);
}

header{
    background-color: #fff;
}

.registro-card {
    max-width: 700px;
    margin: 3rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}

.form-label {
    font-weight: 500;
}

.btn-primary {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
}

.btn-primary:hover {
    background-color: darkorange !important;
    border-color: darkorange !important;
}

.form-check-input:checked {
    background-color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 144, 64, 0.25) !important;
}
a{
    display: inline-block;
}
a:hover {

  opacity: 0.3;
}