:root {
    --color-primario: #6b59cb;
    --color-secundario: #ff9040;
    --color-fondo: #f4f4f4;
    --color-texto: #333333;
}

* {
    margin: 0;
    padding: 0;
}

.logo img {
    width: 15em;
}

.logo {
    width: 15em;
}

.btn-primary {
    background-color: var(--color-secundario) !important;
    border: none !important;
    font-weight: 600 !important;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3rem;
    position: relative;
    z-index: 5;
}

.btn-reg-prof {
    margin-left: 3rem;
    z-index: 10;

}

.container-1eraparte {
    width: 100vw;
    height: 100vh;
    position: relative;
    position: relative;
    text-align: center;
}

.triangulo-der-sup {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: var(--color-primario);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 1;
}

.triangulo-izq-inf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: var(--color-primario);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    z-index: 1;
}

.carrusel-categorias {
    background-color: #ffe3cf;
    border-radius: 40px;
    padding: 1rem 0;
    overflow: hidden;
    max-width: 70rem;
    height: 87px;
}

#categoriaTrack {
    scrollbar-width: none;
    width:90%;
}

#categoriaTrack::-webkit-scrollbar {
    display: none;
}

.categoria {
    min-width: 70px;
    height: 90%;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

.categoria:hover {
    background-color: #a399d8;
    color: white;
}

.titulo {
    font-size: 2.5rem;
    color: var(--color-primario);
    font-weight: bold;
}

.subtitulo {
    color: #333;
    font-size: 1.1rem;
    font-weight:700;
}

.principal{
    padding-top: 4rem;
}

.categoria-nombre{
    font-size: 0.7rem;
}