:root {
    --color-primario: #6b59cb;
    --color-secundario: #ff9040;
    --color-fondo: #f4f4f4;
    --color-texto: #333333;
}

* {
    margin: 0;
    padding: 0;
}

.a-cat {
    text-decoration: none;
    color: inherit;
}

.a-cat:visited {
    color: inherit;
}

.a-cat:hover {
    color: inherit;
}

.container-1eraparte {
    width: 100%;
    height: 105vh;
    position: relative;
    position: relative;
    text-align: center;
    overflow:hidden;
}

.triangulo-der-sup {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: var(--color-primario);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 1;
}

.triangulo-izq-inf {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: var(--color-primario);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    z-index: 1;
}

.carrusel-categorias {
    background-color: #ffe3cf;
    border-radius: 40px;
    padding: 1rem 0;
    overflow: hidden;
    max-width: 70rem;
    height: 87px;
}

#categoriaTrack {
    scrollbar-width: none;
    width: 90%;
}

#categoriaTrack::-webkit-scrollbar {
    display: none;
}

.categoria {
    min-width: 70px;
    height: 90%;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

.categoria:hover {
    background-color: #a399d8;
    color: white;
}

.titulo {
    font-size: 2.5rem;
    color: var(--color-primario);
    font-weight: bold;
}

.subtitulo {
    color: #333;
    font-size: 1.1rem;
    font-weight: 700;
}

.principal {
    padding-top: 4rem;
}

.categoria-nombre {
    font-size: 0.7rem;
}

.carrusel-categorias {
    position: relative;         /* necesario para z-index */
    z-index: 2;                 /* mayor que los triángulos */
    background-color: #ffe3cf;
    border-radius: 40px;
    padding: 1rem 0;
    overflow: hidden;
    max-width: 70rem;
    height: 87px;
    margin-top: 1rem;
}
.buscador{
    position: relative;         /* necesario para z-index */
    z-index: 2;  

}

.titulo{
    position: relative;         /* necesario para z-index */
    z-index: 4;  
}

@media (max-width: 576px) {

    
.triangulo-der-sup {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 160px;
    background-color: var(--color-primario);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 1;
}
    .logo{
        width: 12rem;
    }
    .logo img{
        width: 100%;
    }
    .avatar-button span{
        font-size: 0.8rem;
    }

    .material-symbols-outlined{
        font-size: 2rem;
    }
    .principal{
        padding: 4rem 1rem;
    }
  .carrusel-categorias {
    height: 65px;
    padding: 0.5rem;
    border-radius: 30px;
  }

  .categoria {
    min-width: 50px;
  }

  .categoria-nombre {
    font-size: 0.65rem;
  }

  .fs-3,
  .fs-2 {
    font-size: 1.2rem !important;
  }
}

/****************************/
.container-2daparte {
    width: 100%;
    /* height: 100vh;*/
    background-color: #ffe3cf;
    padding: 2.5rem 2.5rem 3.9rem 2.5rem;

}

.container-pasos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.5rem;
    gap: 1rem;
    margin: 2rem 1rem 0 3rem;


}

.cuadro-img img {
    height: 10rem;
}

.cuadro {
    display: flex;
    gap: 1rem;

}

.titulo1 {
    text-align: center;
}

.titulo2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;

}

.btn-empezar {
    margin-top: 3rem;
}

.container-3eraparte {
    width: 100%;
    /* height: 110vh;*/
    background-color: var(--color-primario);
    padding: 2rem 0 3rem 0;
}

.container-4eraparte {
    width: 100%;
    /* height: 100vh;*/
    background-color: var(--color-secundario);
    padding: 3rem ;

}

.footer {
    background-color: var(--color-texto);
    height: 100px;
}

.card {
    border: none !important;
}

.testimonial-card {
    transition: all 0.2s ease-in-out;
}

.testimonial-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.09);
    transform: translateY(-4px);
}

.footer-column {
    text-align: center;
}

.titulo3 {
    text-align: center;
    padding-top: 1rem;
    color: white;

}

.text {
    color: var(--color-primario) !important;
}

.text:hover {
    font-weight: 600;
}

.card-img-top {
    height: 17rem;
}

/*carrusel de los profes*/
.contenedor-cards {
    position: relative;
}

.carrusel-cards{
    overflow: hidden;
    align-items: stretch !important;
    display: flex;
    gap: 1.5rem;
}

.card {

    flex: 0 0 300px !important;
    height: 100%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;

  min-height: 490px; /* Ajustá a lo que normalmente mide la más larga */

}

.card img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    /* Fijás la altura de la imagen */
}


.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.no-transition {
    scroll-behavior: auto !important;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2); /* Fondo oscuro semitransparente */
    border: none;
    border-radius: 10px;
    padding: 1rem;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-pagos-left {
    left: 0.5rem;
}

.btn-pagos-right {
    right: 0.5rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1); /* Íconos blancos */
    width: 1.5rem;
    height: 1.5rem;
}


@media screen and (max-width:576px) {
    .titulo1 {
        font-size: 1.4rem;
    }

    .container-pasos {
        display: flex;
        flex-direction: column;
    }

    .cuadro-img img {
        width: 3.5rem;
        height: auto;
    }

    .cuadro-text h4 {
        font-size: 1rem;
    }

    .cuadro-text p {
        font-size: 0.7rem;
        margin: 0px;
    }

    .container-2daparte {
        width: 100%;
        padding: 2rem 0rem;
        background-color: #ffe3cf;
    }

    .container-pasos{
        margin: 2rem;
    }

    

}