:root {
    --color-primario: #6b59cb;
    --color-secundario: #ff9040;
    --color-fondo: #f4f4f4;
    --color-texto: #333333;
}

* {
    margin: 0;
    padding: 0;
}

.a-cat{
    text-decoration: none;
     color: inherit;
}

.a-cat:visited {
  color: inherit;
}

.a-cat:hover {
  color: inherit;
}

.container-1eraparte {
    width: 100%;
    height: 105vh;
    position: relative;
    position: relative;
    text-align: center;
}

.triangulo-der-sup {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: var(--color-primario);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    z-index: 1;
}

.triangulo-izq-inf {
    position: absolute;
    bottom:0;
    left: 0;
    width: 300px;
    height: 300px;
    background-color: var(--color-primario);
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    z-index: 1;
}

.carrusel-categorias {
    background-color: #ffe3cf;
    border-radius: 40px;
    padding: 1rem 0;
    overflow: hidden;
    max-width: 70rem;
    height: 87px;
}

#categoriaTrack {
    scrollbar-width: none;
    width: 90%;
}

#categoriaTrack::-webkit-scrollbar {
    display: none;
}

.categoria {
    min-width: 70px;
    height: 90%;
    padding: 0.2rem;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s;
}

.categoria:hover {
    background-color: #a399d8;
    color: white;
}

.titulo {
    font-size: 2.5rem;
    color: var(--color-primario);
    font-weight: bold;
}

.subtitulo {
    color: #333;
    font-size: 1.1rem;
    font-weight: 700;
}

.principal {
    padding-top: 4rem;
}

.categoria-nombre {
    font-size: 0.7rem;
}

/****************************/
.container-2daparte {
    width: 100%;
    height: 100vh;
    background-color: #ffe3cf;

}

.container-pasos {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-top: 2.5rem;
    gap: 1rem;
    margin: 2rem 1rem 0 3rem;


}

.cuadro-img img {
    height: 10rem;
}

.cuadro {
    display: flex;
    gap: 1rem;

}

.titulo1 {
    text-align: center;
    padding-top: 2rem;

}

.titulo2 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;

}

.btn-empezar {
    margin-top: 3rem;
}

.container-3eraparte {
    width: 100%;
    height: 110vh;
    background-color: var(--color-primario);
}

.container-4eraparte {
    width: 100%;
    height: 100vh;
    background-color: var(--color-secundario);

}

.footer {
    background-color: var(--color-texto);
    height: 100px;
}

.card {
    border: none !important;
}

.testimonial-card {
    transition: all 0.2s ease-in-out;
}

.testimonial-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.09);
    transform: translateY(-4px);
}

.footer-column {
    text-align: center;
}

.titulo3 {
    text-align: center;
    padding-top: 2rem;
    color: white;

}

.text {
    color: var(--color-primario) !important;
}

.text:hover {
    font-weight: 600;
}

.card-img-top {
    height: 17rem;
}

/********************************************

.logo img {
    width: 15em;
}

.logo {
    width: 15em;
}

.btn-primary {
    background-color: var(--color-secundario) !important;
    border: none !important;
    font-weight: 600 !important;
}

.btn-outline-primary {
    color: var(--color-secundario) !important;
    border-color: var(--color-secundario) !important;
    font-weight: 600 !important;
}

.btn-outline-primary:hover {
    background-color: var(--color-secundario) !important;
    color: #fff !important;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
    position: relative;
    z-index: 5;
}

.btn-header {
    margin-left: 1rem;
    z-index: 10;

}

*/
/******************************************************************/
/*menu hamburguesa
.avatar-button {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.dropdown-menu {
    width: 250px;
}

.dropdown-header {
    font-size: 0.9rem;
    color: gray;
}

.text-logout{
    color: var(--color-secundario) !important;
    font-weight: 600 !important;
}

.js-profe-menu{
    display: none;
}

.js-alumno-menu{
    display: none;
}

.js-botones{
    display: block;
}
*/